<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtown.app">

    <!-- Permission required for Checking Internet Connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".support.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.6135626490"
            android:value="ca-app-pub-1273779759756778~6135626490" />

        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity android:name=".home.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.AuthActivity" />
        <activity
            android:name=".admin.AuditionListActivity"
            android:label="Audition List"
            android:parentActivityName=".home.MainActivity" />
        <activity
            android:name=".user.ProfileActivity"
            android:label="Profile Details"
            android:launchMode="singleTop"
            android:parentActivityName=".home.MainActivity" />
        <activity
            android:name=".user.AddEditUserActivity"
            android:label="Modify Profile"
            android:parentActivityName=".user.ProfileActivity" />
        <activity
            android:name=".admin.RequestListActivity"
            android:label="Audition Request"
            android:launchMode="singleTop"
            android:parentActivityName=".home.MainActivity" />
        <activity
            android:name=".admin.AuditionDetailsActivity"
            android:label="Audition Details"
            android:parentActivityName=".admin.RequestListActivity" />
        <activity
            android:name=".admin.CreateAuditionActivity"
            android:label="Create Audition"
            android:parentActivityName=".home.MainActivity" />
        <activity
            android:name=".admin.ListActivity"
            android:parentActivityName=".admin.CreateAuditionActivity" />
        <activity
            android:name=".search.SearchActivity"
            android:label="Search Models"
            android:parentActivityName=".home.MainActivity" />
        <activity
            android:name=".user.AcceptAuditionActivity"
            android:label="Accept Audition Request"
            android:parentActivityName=".admin.RequestListActivity" />
        <activity android:name=".admin.StatsActivity"
            android:label="Statistics"></activity>
        <activity android:name=".user.AddModelActivity"
            android:label="Statistics"></activity>


    </application>

</manifest>